.cards ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 40px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.cards .cards-card-image a {
  object-fit: cover;
}

.cards .cards-card-image a img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.cards .cards-card-image a:last-child {
  display: none;
}

.cards .cards-card-image:hover a:first-child {
  display: none;
}

.cards .cards-card-image:hover a:last-child {
  display: block;
}

.cards .cards-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards .cards-card-body {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* DESKTOP */
@media (width >= 900px) {
  .cards ul {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }

  .cards .cards-card-body {
    font-size: 20px;
    font-weight: 600;
  }
}