.cards ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  padding: 0;
  margin: 0;
}

.cards ul li {
  position: relative;
}

.cards .cards-card-image {
  display: flex;
  padding-left: 50px;
}

.cards .cards-card-image a img {
  top: 5%;
  left: 50px;
  object-fit: cover;
  width: 95%;
  height: 100%;
  border: 4px solid var(--primary-dark);
}

/* TODO - Hate this logic, it's all hard coded, need to fix */
.cards ul li:nth-child(1) .cards-card-image a img:hover {
  border: 4px solid var(--normal-color);
}

.cards ul li:nth-child(2) .cards-card-image a img:hover {
  border: 4px solid var(--ls-color);
}

.cards ul li:nth-child(3) .cards-card-image a img:hover {
  border: 4px solid var(--fable-color);
}

.cards ul li:nth-child(4) .cards-card-image a img:hover {
  border: 4px solid var(--cofi-color);
}

.cards .cards-card-image a:last-child {
  display: none;
}

.cards .cards-card-image:hover a:first-child {
  display: none;
}

.cards .cards-card-image:hover a:last-child {
  display: block;
}

.cards .cards-card-body {
  margin-top: 10px;
  position: absolute;
  top: 2%;
  left: 3%;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: var(--body-font-size-s);
}

/* DESKTOP */
@media (width >= 900px) {
  .cards ul {
    grid-template-columns: repeat(auto-fill, minmax(475px, 1fr));
  }

  .cards .cards-card-image a img {
    height: calc(100vh - 150px);
    width: 100%;
  }

  .cards .cards-card-body {
    top: 8px;
  }
}