/* stylelint-disable no-descending-specificity */
.highlight {
    white-space: none;
    overflow: hidden;
    margin-left: calc(-50vw + 50%);
    margin-top: 30px;
    margin-bottom: 60px;
}

.highlight > div > div:nth-child(1) {
    height: 350px;
    object-fit: contain;
    overflow: hidden;
    position: relative;
    border-top: 4px solid var(--primary-dark);
    border-right: 4px solid var(--primary-dark);
    border-bottom: 4px solid var(--primary-dark);
    margin-right: 20px;
    background-color: var(--primary-medium);
    display: flex;
    justify-content: center;
}

.highlight > div > div:last-child {
    margin: 16px;
}

.highlight .button-container {
    margin: 0;
}


/* TABLET */
@media (width >= 600px) {
    .highlight > div > div:nth-child(1) img {
        height: 500px;
        width: auto;
    }
}

/* DESKTOP */
@media (width >= 1025px) {
    .highlight {
        margin: 0;
        height: calc(100vh - 70px);
    }
    
    .highlight > div {
        height: 100%;
        display: flex;
    }
    
    .highlight > div > div {
        width: 50%;
    }
    
    /* Image */
    .highlight > div > div:nth-child(1) {
        background-color: transparent;
        border: none;
        margin: 0;
        position: inherit;
        height: 100%;
    }
    
    .highlight > div > div:nth-child(1) img {
        position: absolute;
        top: 0;
        bottom: 0; 
        left: 5%;
        height: 95%;
        object-fit: cover;
        margin-top: 65px;
    }

    .highlight > div > div:nth-child(2) {
        margin: 0 32px;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
}

/* XL DESKTOP */
@media (width >= 1824px) {
    .highlight > div > div:last-child {
        padding: 0 200px;
    }
}

