/* MOBILE */
header nav {
  background-color: #232323;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #232323;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
}

header nav[aria-expanded="true"] {
  background-color: #232323;
}

header nav[aria-expanded="false"] {
  background-color: var(--background-color);
  border-bottom: none;
}

header .nav-brand,
header .nav-breadcrumb,
header .nav-hamburger {
    z-index: 1;
}

header .nav-breadcrumb {
  position: fixed;
  font-size: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  font-weight: 600;
}

header .nav-links .default-content-wrapper {
  position: fixed;
  z-index: 0;
  inset: 0;
  top: 64px;
}

header ul {
  display: flex;
  flex-flow: column;
  margin: 0;
  list-style-type: none;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Show the breadcrumb */
header nav[aria-expanded="false"] .nav-breadcrumb {
  opacity: 1;
  transition-delay: 0.7s;
}

/* Hide the breadcrumb */
header nav[aria-expanded="true"] .nav-breadcrumb {
  opacity: 0;
  transition: opacity 0.2s;
  transition-delay: 0.2s;
}

header .nav-links[aria-expanded="true"] {
  visibility: visible;
}

header .nav-links[aria-expanded="false"] {
  visibility: hidden;
}

header nav[aria-expanded="true"] .nav-links .default-content-wrapper ul {
  animation: slide-down 0.5s backwards;
}

header nav[aria-expanded="false"] .nav-links .default-content-wrapper ul {
  animation: slide-up 0.5s forwards;
}

@keyframes slide-down {
  from { transform: translateY(-100dvh); }
  to { transform: translateY(0); }
}

@keyframes slide-up {
  from { transform: translateY(0); }
  to { transform: translateY(-100dvh); }
}

header li {
  background-color: #232323;
  color: #232323;
  flex-grow: 1;
  border-bottom: 1px solid #F497CA;
  display: flex;
  flex-flow: column;
  flex-direction: column-reverse;
}

header a {
  cursor: default;
  padding: 20px;
  text-decoration: none;
  color: #232323 !important;
  display: flex;
}

header a span {
  flex-grow: 1;
}

header li:hover {
  background-color: #F497CA;
}

header li.hide-menu {
  /* dvh is device height and this needs to be applied because in mobile (IOS) there are navigation heights that are applied to the bottom and top of the viewport that  */
  transform: translateY(-100dvh);
}

header li:hover a {
  color: #fff !important;
  text-decoration: none;
}

header li:first-child {
  border-top: 1px solid #F497CA;
}

header li:last-child {
  border-bottom: none;
}

/* Brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
}

header .nav-brand .default-content-wrapper{
  justify-content: flex-start;
}

header nav .nav-brand p {
  margin: 0;
}

header nav .nav-brand img {
  width: 75px;
  height: auto;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background: transparent;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background-color: #F497CA;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background-color: #232323;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

/* DESKTOP */
@media (width >= 900px) {
  header nav {
    background-color: transparent;
    border: none;
  }
  
  header .nav-links .default-content-wrapper {
    top: 0;
  }

  header nav[aria-expanded="true"] {
    background-color: transparent;
  }

  header ul {
    flex-flow: row;
  }

  header nav[aria-expanded="true"] .nav-links .default-content-wrapper ul {
    animation: none;
  }
  
  header nav[aria-expanded="false"] .nav-links .default-content-wrapper ul {
    animation: none;
  }

  header nav[aria-expanded="true"] .nav-links .default-content-wrapper ul li.animate {
    animation: slide-down 0.5s backwards;
  }
  
  header nav[aria-expanded="false"] .nav-links .default-content-wrapper ul li.animate {
    animation: slide-up 0.5s forwards;
  }
  
  header li {
    border-right: 1px solid #F497CA;
    border-bottom: none;
  }

  header li:first-child {
    border-top: none;
  }

  header ul li:last-child {
    border-right: none;
  }

  header li:hover .icon {
    animation: move-up-down 1.5s infinite;
  }

  header .nav-hamburger.hovered .nav-hamburger-icon::before,
  .nav-hamburger.hovered .nav-hamburger-icon::after {
    background-color: #fffcfb;
  }

  @keyframes move-up-down {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }

    100% {
      transform: translateY(0);
    }
  }
}