/* MOBILE */
header nav {
  background-color: var(--background-color);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 16px;
  z-index: 20;
}

header nav[aria-expanded="true"] {
  background-color: var(--background-color);
}

header nav[aria-expanded="false"] {
  background-color: var(--background-color);
  border-bottom: none;
}

/* NAV-BRAND */
header .nav-brand{
  cursor: pointer;
}

header .nav-brand p span {
  display: flex;
}

header .nav-brand .default-content-wrapper {
  display: flex;
  align-items: center;
}

header .nav-brand img {
  height: 26px;
  width: 26px;
}

header .nav-brand h4 {
  font-size: var(--body-font-size-xxs);
  margin: 0;
  padding-left: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* NAV-BRAND DESKTOP */
@media (width >= 900px) {
  header .nav-brand h4 {
    font-size: var(--body-font-size-s);
    margin: 0;
    padding-left: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

/* NAV-BREADCRUMB */
header .nav-breadcrumb {
  position: fixed;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: var(--body-font-size-xxs);
  display: flex;
  align-items: center;
  margin-left: 200px;
}

/* NAV-BREADCRUMB DESKTOP */
@media (width >= 900px) {
  header .nav-breadcrumb {
    position: fixed;
    font-size: var(--body-font-size-s);
    padding-top: 0;
    margin-left: 270px;
  }
}

header .nav-brand,
header .nav-breadcrumb,
header .nav-hamburger {
    z-index: 2;
}

/* NAV_LINKS MOBILE */
header ul {
  display: flex;
  flex-flow: column;
  margin: 0;
  list-style-type: none;
  padding: 0;
  height: 100%;
  width: 100%;
}

header .nav-links .default-content-wrapper {
  position: fixed;
  z-index: 1;
  inset: 0;
  top: 64px;
}

header .nav-links[aria-expanded="true"] {
  visibility: visible;
}

header .nav-links[aria-expanded="false"] {
  visibility: hidden;
}

header nav[aria-expanded="true"] .nav-links .default-content-wrapper ul {
  animation: slide-down 0.5s backwards;
}

header nav[aria-expanded="false"] .nav-links .default-content-wrapper ul {
  animation: slide-up 0.5s forwards;
}

@keyframes slide-down {
  from { transform: translateY(-100dvh); }
  to { transform: translateY(0); }
}

@keyframes slide-up {
  from { transform: translateY(0); }
  to { transform: translateY(-110dvh); }
}

header .nav-links li {
  background-color: var(--background-color);
  border-bottom: 4px solid var(--primary-dark);
  flex-grow: 1;
  position: relative;
}

header .nav-links li a {
  cursor: default;
  text-decoration: none;
  color: var(--primary-dark) !important;
  display: flex;
}

header .nav-links li img {
  position: absolute;
  bottom: 0; 
  top: 5%;
  left: 50px;
  object-fit: cover;
  width: 90%;
  height: 100%;
  border: 4px solid var(--primary-dark);
}

header .nav-links li strong {
  position: absolute;
  top: 5%;
  left: 3%;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: var(--body-font-size-m);
}

header .nav-links li.hide-menu {
  /* dvh is device height and this needs to be applied because in mobile (IOS) there are navigation heights that are applied to the bottom and top of the viewport that  */
  transform: translateY(-100dvh);
}

header .nav-links li:last-child {
  border-bottom: none;
}

/* NAV-LINKS DESKTOP */
@media (width >= 900px) {
  header .nav-links li {
    border-bottom: none;
  }
  
  header .nav-links li strong {
    left: 2%;
    top: 7%
  }

  header .nav-links li img {
    top: 7%
  }
}

/* NAV-HAMBURGER */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background: transparent;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background-color: var(--primary-dark);
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background-color: var(--primary-dark);
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

/* DESKTOP */
@media (width >= 900px) {
  header nav {
    background-color: transparent;
    border: none;
    padding: 0 32px;
  }
  
  header .nav-links .default-content-wrapper {
    top: 0;
  }

  header nav[aria-expanded="true"] {
    background-color: transparent;
  }

  header ul {
    flex-flow: row;
  }

  header nav[aria-expanded="true"] .nav-links .default-content-wrapper ul {
    animation: none;
  }
  
  header nav[aria-expanded="false"] .nav-links .default-content-wrapper ul {
    animation: none;
  }

  header nav[aria-expanded="true"] .nav-links .default-content-wrapper ul li.animate {
    animation: slide-down 0.5s backwards;
  }
  
  header nav[aria-expanded="false"] .nav-links .default-content-wrapper ul li.animate {
    animation: slide-up 0.5s forwards;
  }
  
  header li {
    border: none;
  }

  header li:hover .icon {
    animation: move-up-down 1.5s infinite;
  }

  @keyframes move-up-down {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }

    100% {
      transform: translateY(0);
    }
  }
}