.slider {
    margin-bottom: 100px;
}

.slider ul {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0;
}

.slider li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
    height: auto;
}

.slider li img {
    max-height: 400px;
    width: auto;
    object-fit: cover;
}

/* DESKTOP */
@media (width >= 900px) {
    .slider li img {
        max-height: 600px;
    }
}