/* MOBLIE */
.slider ul {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0;
}

.slider li {
    display: inline-block;
    padding-right: 20px;
}

.slider li img {
    max-height: 400px;
}

/* DESKTOP */
@media (width >= 900px) {
    .slider li img {
        max-height: 800px; 
    }
}