.slider ul {
    display: flex;
    width: 100%; /* Full width of the parent or container */
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: nowrap; /* Prevents wrapping of child elements */
}

.slider li {
    display: inline-block; /* Make items inline to support nowrap */
    width: 500px; /* Example width of items */
    height: 600px; /* Example height of items */
    /* margin-right: 10px; */
}